@{
    ViewData["Title"] = "Åtkomst nekad";
}

<h1 class="text-danger">Åtkomst nekad</h1>
<p class="text-warning">
    Du har inte behörighet att se den här sidan.
</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a>
